# Core Bot Framework
pyrofork
tgcrypto

# Asynchronous Web Server & HTTP Client
aiohttp
aiofiles
aiohttp-jinja2
jinja2

# Asynchronous Database Driver
motor
dnspython

# Helper Libraries
python-dotenv
psutil
